.form {
    padding: 1rem;
    width: 30%;
    box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
    border-radius: 6px;
  }
  
  .control {
    margin-bottom: 0.5rem;
    display: flex;
  }
  
  .control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-left: 2.1rem;
    width: 60%;
    width: 350px;
  }
  
  .control input[type='file']{
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    width: 100%;
    margin-left: 2.1rem;
    border:0

  
  }

  .control select{
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    width: 32%;
    background-color: white;
  
  }

  .control input[type='checkbox']{
    display: block;
    font: inherit;
    font-size: x-large;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    height: 20px;
    width: 30%;
  
  
  }


  

  .controlIns label {
    display: block;
    font-weight: bold;
    margin-bottom: 1.4rem;
    margin-top: 1.1rem;
    width: 70%;
    width: 350px;
    font-style: ITALIC;
    color:  #9a3131 ;
  }

    


  
  .actions {
    margin-top: 1rem;
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: #77002e;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #77002e;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #a50e48;
    border-color: #a50e48;
  }

  .result {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 70%;
    margin-left: 20px;
    display: flex;
  }