.title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-left: 2.1rem;
  color: #1c689e;
}

.li{
  margin-bottom: 0.5rem;
  margin-left: 2.1rem;
}

.ul {
  overflow: hidden;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  padding: 30px;
  border-radius: 6px;
  margin: 5px;
  background-color: #efdab5;
  width:30%;

}


.trhead {
  overflow: hidden;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  padding: 30px;
  border-radius: 6px;
  margin: 5px;
  background-color: #f1e9dd;
  

}
.tr {
 
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  padding: 30px;
  margin: 5px;
  background-color:   #43cae84d;
  
}

.table {
  
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  padding: 30px;
  border-radius: 6px;
  margin: 5px;
  background-color: #efdab5;
  width:40%;
 

}

.frame {
 width:100%;
 display: flex;

}

 